<div class="container">
  <div cdkDropList [cdkDropListData]="questions" (cdkDropListDropped)="dropQuestion($event)" class="question-list">
    <div *ngFor="let question of questions; let i = index" cdkDrag >
      <div class="question">
        <div style="background-color: red; display: inline-block;" cdkDragHandle>sposta</div>
        <p>Question: <ckeditor [config]="ckEditoConfig" [(ngModel)]="question.question" class="question-input" [editor]="Editor" data=""> </ckeditor></p>
        <button *ngIf="questions.length > 2" (click)="removeQuestion(i)" class="remove-option-btn">Remove Question</button>
      </div>
      <div cdkDropList [cdkDropListData]="question.options" (cdkDropListDropped)="dropOption(i , $event)" class="option-list">
        <div *ngFor="let option of question.options; let j = index" cdkDrag class="option">
          <div style="background-color: red; display: inline-block;" cdkDragHandle>sposta</div>
          <input type="radio" [value]="option.value" [name]="question.question"> {{option.option}}
          <button *ngIf="question.options.length > 2" (click)="removeOption(i, j)" class="remove-option-btn">Remove Option</button>
        </div>
      </div>
      <div class="question" *ngIf="question.showInput">
        <p><input *ngIf="question.showInput" [(ngModel)]="question.newOption" class="new-option-input"></p>
        <button (click)="addOption(question); question.showInput = false" class="add-option-btn">Add Option</button>
      </div>
      <button (click)="question.showInput = !question.showInput">{{question.showInput ? 'Cancel' : 'Add'}}</button>
    </div>
  </div>
  <div *ngIf="showQuestionModel">
    <p>Question:<ckeditor [config]="ckEditoConfig" [(ngModel)]="newQuestion" [editor]="Editor"></ckeditor></p>
    <p>Option: <input [(ngModel)]="newOption" class="new-option-input"></p>
    <p>{{questionError}}</p>
    <button (click)="addQuestion(); showQuestionModel = false">Add Question</button>
    <button (click)="showQuestionModel = false">Cancel</button>
  </div>
  <button (click)="showQuestionModel = true">Add Question</button>
  <button (click)="saveChanges()">Save Changes</button>
</div>
